.jumbotron {
  padding-top: 6rem;
  background-color: #e2ffe9;
}
#project {
  background-color: #e2ffe9;
}

section {
  padding-top: 5rem;
}
.card {
  position: relative;
  overflow: hidden;
}
.card-body a {
  position: absolute;
  width: 30%;
  bottom: 5%;
  left: 5%;
}
.social { 
  width: 25%;
  margin: auto;
}
/* hover  */
.fa-github:hover {
  color: rgb(99, 99, 99);
  transform: scale(1.1);
}
.fa-instagram:hover,.fa-youtube:hover {
  color: #d61e1e;
  transform: scale(1.1);
}
.fa-linkedin:hover{
  color: #0e76a8;
  transform: scale(1.1);
}

/* slider style */
.wrapper{
  width: 100%;
  display: flex;
  animation: slide 5s infinite;
}
@keyframes slide{
  0%{
      transform: translateX(0);
  }
  25%{
      transform: translateX(0);
  }
  30%{
      transform: translateX(-100%);
  }
  50%{
      transform: translateX(-100%);
  }
  55%{
      transform: translateX(-200%);
  }
  75%{
      transform: translateX(-200%);
  }
  80%{
      transform: translateX(-300%);
  }
  100%{
      transform: translateX(-300%);
  }
}
.porto-slide{
    width: 100%;
}
/* slider end */