.jumbotron {
  padding-top: 6rem;
  background-color: #e2ffe9;
}
#project {
  background-color: #e2ffe9;
}

section {
  padding-top: 5rem;
}
.card {
  position: relative;
}
.card-body a {
  position: absolute;
  width: 30%;
  bottom: 5%;
  left: 5%;
}
.social { 
  width: 25%;
  margin: auto;
}
/* hover  */
.fa-github:hover {
  color: rgb(99, 99, 99);
  transform: scale(1.1);
}
.fa-instagram:hover,.fa-youtube:hover {
  color: #d61e1e;
  transform: scale(1.1);
}
.fa-linkedin:hover{
  color: #0e76a8;
  transform: scale(1.1);
}